# 2.1.3 Pandas intro

The Pandas library is a core part of the Python data science ecosystem. It provides easy-to-use data structures and data analysis tools.

Pandas has some great resources for getting started, including guides tailored to those familiar with other software for manipulating data: https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html#getting-started .

For now, we'll stick just to what we need for this course.

In [1]:
import pandas as pd

## Structures

Pandas has two main **labelled** data structures:
- Series

In [2]:
s = pd.Series([0.3, 4, 1, None, 9])
print(s)

0    0.3
1    4.0
2    1.0
3    NaN
4    9.0
dtype: float64

- DataFrame

In [3]:
import numpy as np
df = pd.DataFrame(np.random.randn(10,2), index=np.arange(3, 13), columns=["random_A", "random_B"])
df

    random_A  random_B
3  -0.946004 -0.946412
4   0.092500 -0.700642
5   0.591623 -0.082317
6  -0.176133 -0.874524
7   1.725211 -1.439661
8   2.020995 -1.263022
9   1.594988  0.797606
10 -0.814603  0.631202
11 -1.306639  0.850810
12  0.077342  0.641441

Once we have data in these Pandas structures, we can perform some useful operations such as:
- `info()` - (`DataFrame` only) - prints a concise summary of a `DataFrame`
- `value_counts()` - returns a `Series` containing counts of unique values in the structure

In [4]:
s = pd.Series(np.random.randint(0,2,10))
print(s)
print() # blank line
print("value counts:")
print(s.value_counts())

0    0
1    1
2    1
3    1
4    0
5    0
6    1
7    1
8    0
9    1
dtype: int64

value counts:
1    6
0    4
dtype: int64

We'll see more on how to use these structures, and other Pandas capabilities, later.

## Indexing

Again, we're just covering some basics here. For a complete guide to indexing in Pandas see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).

Pandas allows us to use the same basic `[]` indexing and `.` attribute operators that we're used to with Python and NumPy.
However, Pandas also provides the (often preferred) `.loc` labelled indexing method and the `.iloc` position indexing methods.

### `[]` Indexing

For basic `[]` indexing, we can select columns from a DataFrame and items from a Series.

In [5]:
# reusing our DataFrame and Series from earlier

# Basic indexing using `[]` on DataFrame
# select a single column
print("single column from DataFrame, gives us a Series:")
display(df["random_A"])

# select two columns
print("two columns from DataFrame, gives us a DataFrame:")
display(df[["random_A", "random_B"]])

# and for a Series
# select single item
print("single item from Series, gives us an item (of type numpy.int64, in this case):")
display(s[2])

# select two items
print("two items from Series, gives us a Series:")
display(s[[2,4]])

single column from DataFrame, gives us a Series:

3    -0.946004
4     0.092500
5     0.591623
6    -0.176133
7     1.725211
8     2.020995
9     1.594988
10   -0.814603
11   -1.306639
12    0.077342
Name: random_A, dtype: float64

two columns from DataFrame, gives us a DataFrame:

    random_A  random_B
3  -0.946004 -0.946412
4   0.092500 -0.700642
5   0.591623 -0.082317
6  -0.176133 -0.874524
7   1.725211 -1.439661
8   2.020995 -1.263022
9   1.594988  0.797606
10 -0.814603  0.631202
11 -1.306639  0.850810
12  0.077342  0.641441

single item from Series, gives us an item (of type numpy.int64, in this case):

1

two items from Series, gives us a Series:

2    1
4    0
dtype: int64

Note that we can't do:

In [6]:
df[5]

KeyError: 5

as this tries to access a row, not a column.


### Attribute Access

Similarly, we can access a column from a DataFrame and an item from a Series using as an attribute.
However, we can't do this when the label is not a valid identifier. We can't do `s.2`.

In [7]:
# Using attribute access
display(df.random_A)

3    -0.946004
4     0.092500
5     0.591623
6    -0.176133
7     1.725211
8     2.020995
9     1.594988
10   -0.814603
11   -1.306639
12    0.077342
Name: random_A, dtype: float64

In [8]:
# and for a Series, this will break
display(s.2)

SyntaxError: invalid syntax (1489195916.py, line 2)

### `.loc`

`.loc` provides label-based indexing. `.loc` can also be used for slicing and we can even provide a `callable` as its input!
However, here we'll just show single item access.

In [9]:
# for DataFrame
display(df.loc[5])

# and for a Series
display(s.loc[2])

random_A    0.591623
random_B   -0.082317
Name: 5, dtype: float64

1

### `.iloc`

`.iloc` provides integer-based indexing. This closely resembles Python and NumPy slicing. Again, we'll just show single item access.

In [10]:
# for DataFrame
display(df.iloc[5])

# and for a Series
display(s.iloc[2])

random_A    2.020995
random_B   -1.263022
Name: 8, dtype: float64

1